# Project1

## Set up `Chinook` database

In [1]:
%%bash
rm Chinook.zip

In [2]:
%%bash
rm *.csv

In [3]:
%%bash
wget https://github.com/CS639-Data-Management-for-Data-Science/s25/raw/main/p1/Chinook.zip

--2025-02-04 16:15:28--  https://github.com/CS639-Data-Management-for-Data-Science/s25/raw/main/p1/Chinook.zip

Resolving github.com (github.com)... 140.82.114.3
Connecting to github.com (github.com)|140.82.114.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/s25/main/p1/Chinook.zip [following]
--2025-02-04 16:15:28--  https://raw.githubusercontent.com/CS639-Data-Management-for-Data-Science/s25/main/p1/Chinook.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 146381 (143K) [application/zip]
Saving to: ‘Chinook.zip’

     0K .......... .......... .......... .......... .......... 34% 4.29M 0s
    50K .......... .......... .......... .......... .......... 69% 12.5M 0s
   100K .......... .......... .......... .......... ..        100% 6.65M=0.02s

2025-02-04 16:15:28 (6.46 MB/s) - ‘Chinook.zip’ saved [146381/146381]

In [4]:
%%bash
unzip Chinook.zip

Archive:  Chinook.zip
  inflating: Album.csv
  inflating: Artist.csv
  inflating: Customer.csv
  inflating: Employee.csv
  inflating: Genre.csv
  inflating: Invoice.csv
  inflating: InvoiceLine.csv
  inflating: MediaType.csv
  inflating: Playlist.csv
  inflating: PlaylistTrack.csv
  inflating: Track.csv

## Loading ```Chinook``` database

In [5]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import os
import cryptography

In [6]:
'''
docker run --name <container-name> 
-d -p 127.0.0.1:3306:3306 
-e MYSQL_DATABASE=Chinook 
-e MYSQL_ROOT_PASSWORD=123456 mysql
'''

'\ndocker run --name <container-name> \n-d -p 127.0.0.1:3306:3306 \n-e MYSQL_DATABASE=Chinook \n-e MYSQL_ROOT_PASSWORD=123456 mysql\n'

In [7]:
username = 'root'                
password = '123456'              
host = '127.0.0.1'               
database = 'Chinook'             
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{database}"
engine = create_engine(connection_string)

In [8]:
%%bash
pwd

/home/zhou/cs639/p1-yixi-zhou

In [9]:
for f in os.listdir("/home/zhou/cs639/p1-yixi-zhou"):
    if f.endswith('.csv'):
        temp_df = pd.read_csv(f)
        table_name = f.split('.')[0]
        print(table_name)
        temp_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

Customer
MediaType
Employee
Track
Artist
InvoiceLine
Playlist
PlaylistTrack
Invoice
Album
Genre